<div class="panel panel-default" ng-repeat="post in posts">
   <div class="panel-heading"><a href="#viewpost/{{post.id}}" class="pull-right">Open post</a> <h4>{{post.title}}</h4></div>
	<div class="panel-body">
	  <img ng-hide="post.titleImage == null" src="{{post.titleImage}}" class="img-circle pull-right"> <a href="{{post.link}}" target="_new">View Post</a>
	  <div class="clearfix"></div>
	  <hr>
	  
	  <p>{{post.shortdescription}}</p>
	  
	  <hr>
	  <form>
	  <div class="input-group">
		<div class="input-group-btn">
		<button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
		</div>
		<input type="text" class="form-control" placeholder="Add a comment..">
	  </div>
	  </form>
	  
	</div>
 </div>