<div>
<div class="row">
	<div class="col-md-4 col-sm-4">
		<div hashtags="true"></div>
	</div>

	
	<div class="col-md-8 col-sm-8" ng-controller="carouselCtrl">
		<div class="panel panel-default">
		<div class="panel-body">
		<carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}" class="img-responsive" style="margin:auto;">
				<div class="carousel-caption">
					<p><a href="" style="color: white">{{slide.text}}</a></p>
				</div>
			</slide>
		</carousel>
		</div>
		</div>
  	</div>

</div>
	<div class="col-md-12">
		<div class="clearfix"></div>
	</div>

<div ng-controller="homeCtrl" class="row" infinite-scroll='fetchPosts()' infinite-scroll-disabled="busy" infinite-scroll-distance='0'>	
	<div ng-repeat="row in columns" class="col-md-4 col-sm-6" >
		<div ng-repeat="post in row">
	<!-- normal posts -->
	  <div class="panel panel-default" ng-if="post.type == '1'">
		<div class="panel-heading">
		<a href="#viewpost/{{post.postid}}" ng-show="post.postid" class="pull-right">Open post</a> <h4>{{post.title}}</h4></div>
		<div class="panel-body">
		  <img ng-hide="post.titleimage == null" src="{{post.titleimage}}" class="img-responsive"/>		  
		  <div class="clearfix"></div>
		  <p></p>
		  <spam>At: {{post.createdAt | date: "dd-MM-yyyy HH:mm"}}</spam>
		  <a href="#viewuser/{{post.userid}}" class="pull-right">User admin</a>
		  <div class="clearfix"></div>
		  <hr>
		  <p>{{post.shortdescription}}</p>		  
		  <hr>
		<div class="btn-toolbar">
		  	<button class="btn btn-primary" type="button" ng-repeat="tag in post.Tags">
		  	{{tag.description}}
			</button>
		</div>		  		  		  
		</div>
	  </div>
	  <!-- type 2 posts -->
	  <div ng-if="post.type == '2'" class="panel panel-default">
		  <div class="panel-heading"><h4>{{post.title}}</h4></div>
		  <div class="panel-body">
		  <div ng-bind-html="post.embed | to_trusted"></div>
			  <hr>
			  <div class="btn-toolbar">
				  <button class="btn btn-primary" type="button" ng-repeat="tag in post.Tags">
					  {{tag.description}}
				  </button>
			  </div>
		  </div>
	  </div>
	</div>
	  
	  
	</div>
</div>
</div>