<div class="row">
	<div hashtags></div>
	<div class="col-md-6 col-sm-6">
      	<div class="panel panel-default">
		<div class="panel-heading">
		 <h4>{{post.title}}</h4></div>
		<div class="panel-body">
		  <img ng-hide="post.titleimage == null" src="{{post.titleimage}}" class="img-responsive"/> 		  
		  <div class="clearfix"></div>
		  <hr>		  
		  <p>{{post.description}}</p>		  
		  <hr>
		  <em>At: {{post.createdAt | date: "dd-MM-yyyy HH:mm"}}</em>
		  <a href="#viewuser/{{post.profileid}}">{{post.username}}</a>
		  <form ng-show="post.commentsenabled && logged" name="commentForm" ng-submit="saveComment(commentForm.$valid)" novalidate>
		  <div class="input-group">
			<div class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="plusone()" ng-enabled="logged">+1</button>
			<button type="submit" class="btn btn-default" ng-disabled="commentForm.$invalid"><i class="glyphicon glyphicon-share"></i></button>
			</div>
			<input type="text" class="form-control" placeholder="Add a comment.." ng-model="comment.description" ng-maxlength="144" required/>
		  </div>
		  </form>	
		  <div class="clearfix"></div>
		  <div class="alert alert-success" role="alert" ng-hide="post.commentsenabled">Comments for this post are disabled.</div>
		  <div class="row" ng-repeat="comment in comments">
			<p>{{comment.description}}</p>
			<div class="clearfix"></div>
		  </div>
		</div>
	  </div>    
  	</div>

</div>