<nav class="navbar navbar-fixed-top header">
 	<div class="col-md-12">
       <div class="container-fluid">
        <div class="navbar-header">
          
        </div>
       </div>   
       
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <a class="navbar-brand" href="#"><i>
            <img alt="Brand" width="40" height="40" src="assets/img/icons/brand2.png">
          </i>
          </a>
          <form class="navbar-form pull-left">
              <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
                          
        			 <li dropdown ng-show="logged">                
        				<a href="" class="dropdown-toggle" dropdown-toggle>
        				<i class="glyphicon glyphicon-bell"></i></a>                
        				<ul class="dropdown-menu" dropdown-menu>
                  <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                  <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                </ul>				
             </li>			 
            
             <li ng-show="logged">
             <a href="" class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-user"></i></a>
            </li>
           </ul>
        </div>	
     </div>	
</nav>